# Computing a member's number of interventions per year

Importing pandas and necessary dataframes.

In [2]:
import pandas as pd

ppl = pd.read_csv('data/people_jonas.csv').set_index('PersonIdCode')
n_int = pd.read_csv('new_data/n_int.csv').set_index('PersonIdCode')

sess = pd.read_csv('data/sessions.csv').sort_values(by='ID').set_index('ID')

For each session in the session frame, assign it to its year. We start at session 4601 since it's the first one we have transcripts of. For now, stop at 5005. We need to scrape the new data. We store this in a dict.

In [3]:
year_dico = {}
for row in sess.iterrows():
    sesh_id = row[0]
    year = row[1].StartDate[:4]
    if int(sesh_id) > 4601 and int(sesh_id) <= 5006:
        if int(year) not in year_dico.keys():
            year_dico[int(year)] = [str(sesh_id)]
        else:
            year_dico[int(year)].append(str(sesh_id))

In [4]:
year_dico

{2000: ['4602', '4603', '4604', '4605'],
 2001: ['4606', '4607', '4608', '4609', '4610', '4611'],
 2002: ['4612', '4613', '4614', '4615', '4616'],
 2003: ['4617', '4618', '4619', '4620', '4701'],
 2004: ['4702', '4703', '4704', '4705', '4706'],
 2005: ['4707', '4708', '4709', '4710'],
 2006: ['4711', '4712', '4713', '4714', '4715'],
 2007: ['4716', '4717', '4718', '4801'],
 2008: ['4802', '4803', '4804', '4805', '4806'],
 2009: ['4807', '4808', '4809', '4810', '4811', '4812'],
 2010: ['4813', '4814', '4815', '4816'],
 2011: ['4817', '4818', '4819', '4820', '4901'],
 2012: ['4902', '4903', '4904', '4905', '4906'],
 2013: ['4907', '4908', '4909', '4910', '4911'],
 2014: ['4912', '4913', '4914', '4915', '4916'],
 2015: ['4917', '4918', '4919', '4920', '5001'],
 2016: ['5002', '5003', '5004', '5005', '5006']}

Next, we create the DataFrame that'll store our computed data.

In [5]:
years = list(year_dico.keys())
years.sort()
int_year = pd.DataFrame(columns=years)
int_year['PersonIdCode'] = ppl.index
int_year.set_index('PersonIdCode', inplace=True)
int_year = int_year.fillna(0)
int_year.head(2)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
PersonIdCode,,,,,,,,,,,,,,,,,
2023,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2061,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
for year in years:
    value = year_dico[year]
    print(year)
    sesh = value
    sub_df = n_int[sesh]
    # slicing n_int DataFrame w.r.t. that year's sessions and summing
    x = sub_df.sum(axis=1)
    int_year[year] = x

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [7]:
int_year.head(3)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
PersonIdCode,,,,,,,,,,,,,,,,,
2023,0,0,0,0,0,0,0,0,19,1,10,1,0,0,0,3,25
2061,3,32,18,23,46,51,89,95,60,80,80,71,75,62,74,80,91
2129,28,22,35,46,93,67,85,72,49,107,76,131,119,103,81,96,80

In [8]:
int_year.tail(3)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
PersonIdCode,,,,,,,,,,,,,,,,,
3109,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,43
3110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,20
3604,0,0,0,0,0,0,0,0,0,0,0,1,14,16,34,29,28

Saving

In [9]:
int_year.to_csv('new_data/int_year.csv')